
.video-card-container {
    position: relative;
    width: 92%;
    margin: auto;
    height: 10vw;
    display: flex;
    margin-top: 1rem;
    margin-bottom: 20px;
    justify-content: space-between;
 }

 /* .video-container {
   position: relative;
   max-width: 800px;
   margin: 0 auto;
} */

.dash-video {
   width: 100%;
   height: auto;
}

.play-button {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   padding: 10px 20px;
   background-color: #2195f303;
   color: #ffffff2b;
   font-size: 16px;
   border: none;
   cursor: pointer;
}


 .video-card {
    position: relative;
    min-width: calc(100%/5 - 10px);
    width: calc(100%/5 - 10px);
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
    background: #030b17;
 }


 .play-button.hidden {
   display: none;
}

